/* @override http://cai.zone/podcast-viewer/styles.css */

body
{
	background-color: #d2d2d2;
}

html,
body,
p,
.masthead a
{
	color: #202020;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#wrapper
{
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

a
{
	color: #2b24b8;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.site-title
{
	font-size: 37px;
	margin-bottom: 25px;
	margin-left: 36px;
}

.title
{
	font-weight: bold;
}

.box
{
	background-color: rgba(159,159,159,0.4999732);
	padding: 36px;
	border-radius: 20px;
	margin-bottom: 18px;
}

.podcast-title
{
	font-size: 29px;
	margin-bottom: 22px;
}

.podcast-image img
{
	width: 300px;
}

.episode-image img
{
	width:  200px;
}

.episode-title
{
}

.podcast-image,
.podcast-details,
.episode-image,
.episode-details
{
	display: inline-block;
	vertical-align: top;
}

.podcast-image,
.episode-image
{
	margin-right: 22px;
}

.podcast-details
{
	max-width: 400px;
}

.episode-title
{
	margin-bottom: 18px;
	font-size: larger;
}

.episode-details
{
	max-width: 500px;
}

.episode-media
{
	font-weight: bold;
	margin: 15px 0;
}

.episode-media audio
{
	width: 100%;
}
